### Monorepo ###
# Dependencies
node_modules
.yarn

# Testing
coverage

# Production
build
out

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

### IDE ###
# JetBrains IDEs
.idea/
*.iml
*.iws
.idea_modules/

# VS Code
.vscode/
*.code-workspace

# Logs
logs
**/*.backup.*
**/*.back.*

# Storybook
*storybook.log

.turbo
CLAUDE.md
