@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 321 70% 69%;
        --primary-foreground: 321 85% 0%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 358 69% 52%;
        --destructive-foreground: 0 0% 100%;

        --warning: 37.43 91.3% 54.9%;
        --warning-foreground: 0 0% 0%;

        --success: 166.53 72.41% 60.2%;
        --success-foreground: 0 0% 0%;

        --info: 212.2 100% 59.8%;
        --info-foreground: 0 0% 0%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.625rem;

        --sidebar-background: 0 0% 100%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 0 0% 0%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 321 70% 69%;
        --primary-foreground: 321 85% 0%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 358 69% 52%;
        --destructive-foreground: 0 0% 100%;

        --warning: 37.43 91.3% 54.9%;
        --warning-foreground: 0 0% 0%;

        --success: 166.53 72.41% 60.2%;
        --success-foreground: 0 0% 0%;

        --info: 212.2 100% 59.8%;
        --info-foreground: 0 0% 0%;

        --border: 240 3.7% 10%;
        --input: 240 3.7% 10%;
        --ring: 240 4.9% 83.9%;
        --radius: 0.625rem;

        & body {
            background-image: linear-gradient(
                180deg,
                #160820 0%,
                #000 60%,
                #000 100%
            );
        }

        & .no-gradient {
            background-image: none !important;
        }

        --sidebar-background: 0 0% 0%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background bg-no-repeat text-foreground;
        background-size: 100% 100vh;
    }
}

@layer utilities {
    .grid-min-1 {
        --grid-min: 1rem;
    }

    .grid-min-2 {
        --grid-min: 2rem;
    }

    .grid-min-3 {
        --grid-min: 3.5rem;
    }

    .grid-min-4 {
        --grid-min: 4rem;
    }

    .grid-min-5 {
        --grid-min: 5rem;
    }

    .grid-min-6 {
        --grid-min: 6rem;
    }

    .grid-min-7 {
        --grid-min: 7rem;
    }

    .grid-min-8 {
        --grid-min: 8rem;
    }

    .grid-min-9 {
        --grid-min: 8rem;
    }

    .grid-min-10 {
        --grid-min: 10rem;
    }

    .grid-min-12 {
        --grid-min: 12rem;
    }

    .grid-min-14 {
        --grid-min: 14rem;
    }

    .grid-min-16 {
        --grid-min: 16rem;
    }

    .grid-min-18 {
        --grid-min: 18rem;
    }

    .grid-min-20 {
        --grid-min: 20rem;
    }

    .grid-max-3 {
        --grid-max: 3.5rem;
    }

    .grid-max-20 {
        --grid-max: 20rem;
    }

    .grid-max-22 {
        --grid-max: 22rem;
    }
    .contain-paint {
        contain: paint;
    }
}

.logo {
    background-image: url(/logo-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.dark .logo-full {
    background-image: url(/logo-dark.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-full {
    background-image: url(/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen(md) {
    .dark .logo {
        background-image: url(/logo-dark.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .logo {
        background-image: url(/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes snack-progress {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

.snackbar-timer {
    animation: snack-progress 3000ms;
    animation-fill-mode: forwards;
}

main {
    min-height: calc(100vh - 16.5rem);
}

[data-select] [data-radix-popper-content-wrapper] {
    position: absolute !important;
    width: 100%;
}

table th:first-child,
td:first-child {
    @apply rounded-l-md;
}

table th:last-child,
td:last-child {
    @apply rounded-r-md;
}

.radial-progress {
    position: relative;
    display: inline-grid;
    height: var(--size);
    width: var(--size);
    place-content: center;
    border-radius: 9999px;
    background-color: transparent;
    vertical-align: middle;
    box-sizing: content-box;
    --value: 0;
    --size: 5rem;
    --thickness: calc(var(--size) / 10);
}

.radial-progress::-moz-progress-bar {
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.radial-progress::-webkit-progress-bar,
.radial-progress::-webkit-progress-value {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

.radial-progress:after,
.radial-progress:before {
    position: absolute;
    border-radius: 9999px;
    content: '';
}

.radial-progress:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, currentColor 98%, #0000)
            top/var(--thickness) var(--thickness) no-repeat,
        conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
    -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - var(--thickness)),
        #000 calc(100% - var(--thickness))
    );
    mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - var(--thickness)),
        #000 calc(100% - var(--thickness))
    );
}

.radial-progress:after {
    inset: calc(50% - var(--thickness) / 2);
    transform: rotate(calc(var(--value) * 3.6deg - 90deg))
        translate(calc(var(--size) / 2 - 50%));
    background-color: currentColor;
}

.loading {
    pointer-events: none;
    display: inline-block;
    aspect-ratio: 1/1;
    width: 1.5rem;
    background-color: currentColor;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.loading,
.loading-spinner {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.progress-ring__circle {
    transition: stroke-dasharray 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

._placeholder_1qea1_1049 {
    @apply text-muted-foreground;
}

.unexpanded-text {
    mask-image: linear-gradient(to bottom, white 50%, transparent);
}

.spoiler-blur-md {
    @apply blur-md transition-all duration-500 hover:blur-none;
}

.spoiler-blur-sm {
    @apply blur-sm transition-all duration-500 hover:blur-none;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

p:last-child,
blockquote:last-child,
ul:last-child,
ol:last-child,
div.slate-editor:last-child,
.slate-image_group:last-child,
div.spoiler:last-child {
    @apply mb-0;
}

.image-group {
    --ratio: 56.25%;
    position: relative;
}

.image-group:before {
    content: '';
    display: block;
    padding-bottom: var(--ratio);
}

.image-group-container {
    display: grid;
    grid-gap: 4px;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-group-item {
    @apply relative flex items-center justify-center overflow-hidden;
}

.image-group-size-1 picture {
    @apply h-full;
}

.image-group-size-1 .image-item {
    @apply size-full;
}

.image-group-size-2 .image-item {
    @apply size-full;
}

.image-group-size-2 .image-group-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.image-group-size-3 {
    --ratio: 75%;
}

.image-group-size-3 .image-item {
    @apply size-full;
}

.image-group-size-3 .image-group-container {
    grid-template-columns: 1.75fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.image-group-size-3 .image-group-item:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 1;
}

.image-group-size-3 .image-group-item:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.image-group-size-3 .image-group-item:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
}

.image-group-size-4 {
    --ratio: 75%;
}

.image-group-size-4 .image-item {
    @apply size-full;
}

.image-group-size-4 .image-group-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
