@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {*/
/*    background: linear-gradient(rgba(22, 8, 32, 1) 10%, rgba(0, 0, 0, 1)10%);*/
/*}*/

.btn-outline {
  border-color: rgba(160, 160, 160, 0.54);
}

.w-45 {
  width: 11.5rem
}

.card {
  border-radius: initial;
}

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
