@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 321 70% 69%;
        --primary-foreground: 0 0% 0%;

        --secondary: 0 0% 91.76%;
        --secondary-foreground: 0 0% 0%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 358 69% 52%;
        --destructive-foreground: 0 0% 0%;

        --warning: 37.43 91.3% 54.9%;
        --warning-foreground: 0 0% 0%;

        --success: 166.53 72.41% 60.2%;
        --success-foreground: 0 0% 0%;

        --info: 212.2 100% 59.8%;
        --info-foreground: 0 0% 0%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.625rem;
    }

    .dark {
        --background: 0 0% 0%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 321 70% 69%;
        --primary-foreground: 0 0% 0%;

        --secondary: 240 4% 16%;
        --secondary-foreground: 0 0% 100%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 358 69% 52%;
        --destructive-foreground: 0 0% 0%;

        --warning: 37.43 91.3% 54.9%;
        --warning-foreground: 0 0% 0%;

        --success: 166.53 72.41% 60.2%;
        --success-foreground: 0 0% 0%;

        --info: 212.2 100% 59.8%;
        --info-foreground: 0 0% 0%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --radius: 0.625rem;

        & body {
            background-image: linear-gradient(180deg, #160820 0%, #000 60%, #000 100%);
        }

        & .no-gradient {
            background-image: none !important;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground bg-no-repeat;
        background-size: 100% 100vh;
    }
}

@layer utilities {
    .grid-min-1 {
        --grid-min: 1rem;
    }

    .grid-min-2 {
        --grid-min: 2rem;
    }

    .grid-min-3 {
        --grid-min: 3rem;
    }

    .grid-min-4 {
        --grid-min: 4rem;
    }

    .grid-min-5 {
        --grid-min: 5rem;
    }

    .grid-min-6 {
        --grid-min: 6rem;
    }

    .grid-min-7 {
        --grid-min: 7rem;
    }

    .grid-min-8 {
        --grid-min: 8rem;
    }

    .grid-min-9 {
        --grid-min: 8rem;
    }

    .grid-min-10 {
        --grid-min: 10rem;
    }

    .grid-min-12 {
        --grid-min: 12rem;
    }

    .grid-min-14 {
        --grid-min: 14rem;
    }
}

.logo {
    -webkit-mask: url(/logo-mobile.svg) no-repeat center;
    mask: url(/logo-mobile.svg) no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}

.logo-full {
    -webkit-mask: url(/logo.svg) no-repeat center;
    mask: url(/logo.svg) no-repeat center;
    mask-size: contain;
}

@media screen(md) {
    .logo {
        -webkit-mask: url(/logo.svg) no-repeat center;
        mask: url(/logo.svg) no-repeat center;
        mask-size: contain;
        -webkit-mask-size: contain;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


@keyframes snack-progress {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}


.snackbar-timer {
    animation: snack-progress 3000ms;
    animation-fill-mode: forwards;
}


main {
    min-height: calc(100vh - 16.5rem);
}

[data-select] [data-radix-popper-content-wrapper] {
    position: absolute !important;
    width: 100%;
}

table th:first-child, td:first-child {
    @apply rounded-l-md;
}

table th:last-child, td:last-child {
    @apply rounded-r-md;
}

.radial-progress {
    position: relative;
    display: inline-grid;
    height: var(--size);
    width: var(--size);
    place-content: center;
    border-radius: 9999px;
    background-color: transparent;
    vertical-align: middle;
    box-sizing: content-box;
    --value: 0;
    --size: 5rem;
    --thickness: calc(var(--size) / 10)
}

.radial-progress::-moz-progress-bar {
    -moz-appearance: none;
    appearance: none;
    background-color: transparent
}

.radial-progress::-webkit-progress-bar, .radial-progress::-webkit-progress-value {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent
}

.radial-progress:after, .radial-progress:before {
    position: absolute;
    border-radius: 9999px;
    content: ""
}

.radial-progress:before {
    inset: 0;
    background: radial-gradient(farthest-side, currentColor 98%, #0000) top/var(--thickness) var(--thickness) no-repeat, conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)))
}

.radial-progress:after {
    inset: calc(50% - var(--thickness) / 2);
    transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size) / 2 - 50%));
    background-color: currentColor
}

.loading {
    pointer-events: none;
    display: inline-block;
    aspect-ratio: 1/1;
    width: 1.5rem;
    background-color: currentColor;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center
}

.loading, .loading-spinner {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

.mdxeditor .spoiler {
    @apply bg-secondary/30 rounded-md border border-secondary/60 my-2;
}

.mdxeditor [role=textbox] {
    @apply p-3;
    background: transparent;
    border-radius: 0;
}

.mdxeditor [role=toolbar] {
    @apply p-2;
    background: transparent;
    border-radius: 0;
}

.mdxeditor a {
    @apply text-primary;
}

.markdown p {
    @apply mb-4 break-words;
}

.markdown a {
    @apply text-primary hover:underline;
}

.markdown ul, .mdxeditor ul {
    @apply mb-4 ml-4 list-none;
}

.markdown ul li::before, .mdxeditor ul li::before {
    content: '\2022';
    @apply -ml-4 inline-block w-4 font-bold text-accent;
}

.markdown ol, .mdxeditor ol {
    @apply mb-4 pl-6 list-decimal;
}

.markdown pre {
    @apply overflow-scroll p-4 border border-secondary/60 bg-secondary/30 rounded-md mb-4;
}

.markdown p:last-child, .markdown div:last-child {
    margin-bottom: 0;
}

.progress-ring__circle {
    transition: stroke-dasharray 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

._placeholder_19o4e_1034 {
    @apply text-muted-foreground;
}

.unexpanded-text {
    mask-image: linear-gradient(to bottom, white 50%, transparent);
}