@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes snack-progress {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

.snackbar-timer {
    animation: snack-progress 2000ms;
    animation-fill-mode: forwards;
}

:root {
    color-scheme: dark;
}

html {
    /*scroll-behavior: smooth;*/
}

body {
    color: white;
    background-image: linear-gradient(180deg, #160820 0%, #000 60%, #000 100%);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

main {
    min-height: calc(100vh - 16.5rem);
}

table th:nth-child(1) {
    @apply rounded-l-lg;
}

table th:nth-last-child(1) {
    @apply rounded-r-lg;
}

.table :where(thead, tbody) :where(tr:not(:last-child)), .table :where(thead, tbody) :where(tr:first-child:last-child) {
    border-bottom: 0;
}

.table :where(thead, tfoot) {
    @apply font-normal text-sm;
}

h1 {
    @apply font-bold text-3xl;
}

h2 {
    @apply font-bold text-2xl;
}

h3 {
    @apply font-bold text-xl;
}

h4 {
    @apply font-bold text-lg;
}

h5 {
    @apply font-bold text-base;
}
/*

.btn-outline, .badge-outline {
    @apply border-secondary/60;
}
*/

.btn {
    /*@apply text-white/90;*/
    text-transform: capitalize;
    animation: none;
}

.btn:hover {
    /*@apply text-white;*/
}

/* neutral btn */

.btn.btn-neutral {
    @apply text-neutral-content/90;
}

.btn.btn-neutral:hover {
    @apply text-neutral-content;
}

.btn.btn-outline.btn-neutral {
    @apply border-neutral/60 text-neutral-content/90;
}

.btn.btn-outline.btn-neutral:hover {
    @apply border-neutral bg-neutral/10 text-neutral-content;
}

/* secondary btn */

.btn.btn-secondary {
    @apply text-secondary-content/90;
}

.btn.btn-secondary:hover {
    @apply text-secondary-content;
}

.btn.btn-outline.btn-secondary {
    @apply border-secondary/60 text-secondary-content/90;
}

.btn.btn-outline.btn-secondary:hover {
    @apply border-secondary bg-secondary/10 text-secondary-content;
}

/* accent btn */

.btn.btn-accent {
    @apply text-accent-content/90;
}

.btn.btn-accent:hover {
    @apply text-accent-content;
}

.btn.btn-outline.btn-accent {
    @apply border-accent/60 text-accent/90;
}

.btn.btn-outline.btn-accent:hover {
    @apply border-accent bg-accent/10 text-accent;
}

/* error btn */

.btn.btn-error {
    @apply text-error-content/90;
}

.btn.btn-error:hover {
    @apply text-error-content;
}

.btn.btn-outline.btn-error {
    @apply border-error/60 text-error/90;
}

.btn.btn-outline.btn-error:hover {
    @apply border-error bg-error/10 text-error;
}

/**/

.btn-sm {
    height: 2.5rem;
    min-height: 2.5rem;
}

.btn-square:where(.btn-sm) {
    width: 2.5rem;
}

.btn-circle:where(.btn-sm) {
    width: 2.5rem;
}

.btn-badge {
    height: 2rem;
    min-height: 2rem;
}

.btn-square:where(.btn-badge) {
    width: 2rem;
}

.btn-circle:where(.btn-badge) {
    width: 2rem;
}

.btn.btn-disabled, .btn[disabled], .btn:disabled {
    border: none;
    color: hsl(var(--bc) / var(--tw-text-opacity)) !important;
    /*color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity))) !important;*/
}



.btn:active:hover,
.btn:active:focus {

}

.btn.btn-outline {
    /*@apply text-white;*/
}

.MuiSlider-markActive {
    @apply bg-white
}

.Mui-selected .selected {
    opacity: 1;
}

textarea:focus, input:focus {
    outline: none;
}

.modal {
    @apply text-white;
}

.modal-box {
    @apply bg-black;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}


.menu li > *:not(ul):not(.menu-title):not(details):active, .menu li > *:not(ul):not(.menu-title):not(details).active, .menu li > details > summary:active {
    @apply bg-secondary/30;
}

.rating:not(.readonly):hover input {
    --tw-bg-opacity: 1 !important;
}

.rating:not(.readonly) input:hover ~ input {
    --tw-bg-opacity: 0.2 !important;
}

.alert {
    @apply rounded-lg;
}

.tooltip:before {
    @apply bg-black border border-secondary;
}

.tooltip:after {
    @apply border-t-secondary;
}

.markdown p {
    @apply mb-4;
}

.markdown a {
    @apply text-accent hover:underline;
}

.markdown ul {
    @apply list-none ml-4 mb-4;
}

.markdown ul li::before {
    content: "\2022";
    @apply text-accent font-bold inline-block w-4 -ml-4;
}
